body {
    background-color: #313A5A;
    font-family: Rubik, sans-serif;
    color: white;
    margin: 0;
}

.logo {
    width: clamp(30vh, 17vw, 30vw);
    object-fit: contain; 
}

.styled_button {
    width: fit-content;
    height: fit-content;
    font-size: clamp(15px, 1.2vw, 1.6vw);
    padding: clamp(7px, 1.5vh, 1.5vh) clamp(25px, 2vw, 2vw);
    background-color: #1AD57E;
    color: whitesmoke;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 10px 0px;
    box-shadow:
    1px 1px 10px rgba(0, 0, 0, 0.599);
    transition: box-shadow 0.5s ease, background-color 0.2s ease, color 0.2s ease;
}

.loading_animation {
    max-width: 30px;
    display: block;
    object-fit: contain;
}

.styled_button:hover {
    background-color: #13a461;
    color: rgb(226, 226, 226);
    box-shadow:
    1px 1px 10px rgba(0, 0, 0, 0.599),
    inset 2px 0 0 0 gray, /* Left inner border */
    inset -2px 0 0 0 gray; /* Right inner border */
}
